# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade/*
!web/app/upgrade/.gitkeep
web/app/cache/*
web/app/languages

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

.idea
DS_Store

# Protected dotenvs
.private

.export/db_dump*.sql
!.export/db_safe_*
!.export/wp_users__example.csv
.export/.gitkeep
.export/**/*.zip